@import url('https://fonts.googleapis.com/css?family=Bentham|Libre+Baskerville:400i|PT+Serif:400,400i');

/* ------------- LAYOUT ----------- */

.container {
	width: 660px;
	margin: 0 auto;
}

/* ------------- TYPOGRAPHY ----------- */

body {
	font-family: 'PT Serif', serif;
	font-size: 18px;
}

header h1 {
	font-family: 'Bentham', serif;
	/*
	폰트크기 30px
	자간 0.12em
	대문자
	*/
}

header h2 {
	font-family: 'Bentham', serif;
	/*
	폰트크기 60px
	행간 72px
	*/
}

header h2 span {
	font-family: 'Libre Baskerville', serif;
}


/* ------------- HEADER ----------- */

header {
	/*
	높이 600px
	배경 이미지 header_bg.jpg
	    반복 없음
	    포지션 center center
	글자색 하얗게
	윗여백 60px (높이에 영향 없도록)
	*/
}

header h1 {
	/*
	테두리 1px 하얗게 (높이 영향 없도록)
	행간 / 높이 53px
	좌우 여백 30px
	글자색 하얗게
	*/
}

header h2 {
	/*
	행간 72px
	윗 마진 120px
	아랫 마진 20px
	*/
}

header h3 {
	/*
	폰트 크기 20px, 기울임체, 'PT Serif', serif
	*/
}


/* ------------- CONTENT SECTION ----------- */

section {
	/*
	위 아래 여백 110px
	*/
}

section h2 {
	/*
	폰트 크기 42px 행간 49px 'Bentham', serif
	글자색 #444
	자간 0.08em
	아래 마진 30px
	*/
}

section h3 {
	/*
	폰트 크기 14px 행간 14px 'PT Serif', serif
	글자색 #444
	자간 0.08em
	아래 마진 50px
	*/
}

section p {
	/*
	폰트 크기 18px
	행간 34px
	글자색 #6f6f6f
	아래 마진 32px
	*/
}

section p em {
	/*
	글자색 #e3514e
	*/
}

section ul {
	/*
	테두리 1px #838383
	*/
}

section ul li {
	/*
	높이 52px (높이 고정)
	너비 1/4
	글자색 #555
	*/
}

section ul li a {
	/*
	글자색 #555
	*/
}

section ul li:hover {
	/*
	배경색 #e3514e
	*/
}

section ul li:hover a {
	/*
	글자색 하얗게
	*/
}


/* ------------- FOOTER ----------- */

footer p {
	/*
	배경색 #555
	글자 크기 12px 행간 66px 'PT Serif', serif
	*/
}
